* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.cards {
    position: relative;
    width: 100%;
    height: 50vh;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
}